*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  max-width: 1210px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.banner-home-wrapper {
  display: flex;
  justify-content: space-between;
}

.banner-home {
  width: 100%;
  max-width: 595px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  padding: 1.75em;
  border-radius: 0.5em;
  position: relative;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-home:nth-child(2) {
  margin-left: 20px;
}

.banner-home.banner-left {
  background-color: #008C0E;
}

.banner-home.banner-right {
  background-color: #0006A1;
}

.banner-home:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 20%;
  background-image: url(../img/bg-transparent.png);
  background-size: 20%;
}

.banner-home__title {
  font-size: 1.375rem;
  margin-bottom: 0.36363636363em;
}

.banner-home__subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.banner-home__img {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-radius: 50%;
}

.banner-home__content {
  max-width: 397px;
}

.banner-home__advantages {
  font-size: 1em;
  margin-left: 2em;
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 2.5em;
}

.banner-home__advantages__item {
  padding-bottom: 0.5em;
}

.banner-home__price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner-home__link {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: none;
  padding: 0.8em 2.4em;
  background-color: #E82F3A;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 13%);
  transition: all .3s ease-in-out;
}

.banner-home__link:hover {
  background-color: #cf2e2e;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 25%);
}

.banner-home_link:visited {
  color: #fff;
}

.banner-home__diploma {
  position: absolute;
  bottom: 28px;
  right: 28px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 13%);
}

@media (max-width: 1250px) {
  .container {
    max-width: 970px;
  }

  .banner-home__content {
    max-width: 310px;
  }

  .banner-home__title, .banner-home__price, .banner-home__link {
    font-size: 1rem;
  }

  .banner-home__subtitle, .banner-home__advantages {
    font-size: 0.75rem;
  }

  .banner-home__img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }

  .banner-home-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .banner-home:nth-child(2) {
    margin-left: 0;
    margin-top: 20px;
  }

  .banner-home__content {
    max-width: 397px;
  }

  .banner-home__title, .banner-home__price, .banner-home__link {
    font-size: 1.25rem;
  }

  .banner-home__subtitle, .banner-home__advantages {
    font-size: 1rem;
  }

  .banner-home__img {
    width: 132px;
    height: 132px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

@media (max-width: 640px) {
  .banner-home__content {
    max-width: 310px;
  }

  .banner-home__img {
    width: 100px;
    height: 100px;
  }
}


@media (max-width: 520px) {
  .banner-home {
    padding: 1.25rem;
    line-height: 120%;
  }

  .banner-home__content {
    max-width: 280px;
  }

  .banner-home__title {
    font-size: 1.1rem;
  }

  .banner-home__subtitle {
    font-size: 0.9rem;
  }

  .banner-home__img {
    width: 90px;
    height: 90px;
    top: 20px;
    right: 20px;
  }

  .banner-home__advantages {
    font-size: 0.9rem;
    margin-bottom: 1.5em;
  }

  .banner-home__price {
    font-size: 1.1rem;
  }

  .banner-home__link {
    font-size: 1.1 rem;
  }

  .banner-home__diploma {
    width: 100px;
    height: auto;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 480px) {
  .banner-home__title {
    max-width: 200px;
  }

  .banner-home__content {
    max-width: 260px;
  }

  .banner-home__img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 425px) {
  .banner-home__content {
    max-width: 250px;
  }

  .banner-home__titleб .banner-home__linkб .banner-home__price {
    font-size: 1rem;
  }

  .banner-home__subtitle,
  .banner-home__advantages {
    font-size: 0.8rem;
  }

  .banner-home__img {
    width: 70px;
    height: 70px;
  }

  .banner-home__price {
    margin-bottom: 0.5em;
  }

  .banner-home__diploma {
    width: 80px;
    height: auto;
    bottom: 20px;
    right: 20px;
  }

}

@media (max-width: 405px) {
  .banner-home__content {
    max-width: 230px;
  }
}

@media (max-width: 387px) {
  .banner-home {
    padding: 0.875rem;
  }

  .banner-home__content {
    max-width: 200px;
  }

  .banner-home__title {
    max-width: 170px;
  }

  .banner-home__title,
  .banner-home__price,
  .banner-home__link {
    font-size: 0.9rem;
  }

  .banner-home__subtitle,
  .banner-home__advantages {
    font-size: 0.7rem;
  }

  .banner-home__subtitle {
    max-width: 200px;
    margin-bottom: 0.5em;
  }

  .banner-home__img {
    width: 60px;
    height: 60px;
    top: 14px;
    right: 14px;
  }

  .banner-home__diploma {
    width: 72px;
    height: auto;
    bottom: 14px;
    right: 14px;
  }
}

@media (max-width: 334px) {
  .banner-home__content {
    max-width: 180px;
  }
}